header {
	background:url(../img/top-line.png) repeat-x center top;
	padding:5px 0 0 0;
}
.header-top {
	margin:27px 0 22px 0;
}
.header-bottom {
	height:46px;
	background:#0096db;
}
.number {
	font-size:12px;
	background:#f3f3f3 !important;
	color:#0f609c;
}
.login {
	font-size:12px;
	background:#de5f19 !important;
	color:#fff;
}
.create-account {
	font-size:12px;
	background:#26a75d !important;
	color:#fff;
}
ul.nav-bar {
	width:100%;
}
ul.nav-bar li {
	float:right;
}
ul.nav-bar li a {
	color:#fff !important;
	display:block;
	float:right;
	text-align:center;
	padding:4px 30px !important;
}
ul.nav-bar li a span {
	float:left;
	width:100%;
	color:#fcf305;
	font-size:12px;
}
.banner {
	width:100%;
}
.banner img {
	width:100%;
}
.banner-wrapper {
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.banner-caption {
	background-color: rgba(26, 188, 156, 0.7);
	color: #ffffff;
	height: 241px;
	width: 100%;
}
.banner-left {
	padding: 30px 25px;
	text-align: right;
	position:relative;
}
.find-job {
    left: 0;
    position: absolute;
    top: -17px;
}
.banner-caption h1 {
	font-size: 23px;
	font-weight: 400;
	margin-top: 8px;
}
.banner-left p {
	padding:0 0 0 122px;
}
.banner-caption h1 {
	font-size: 23px;
	font-weight: 400;
	margin-top: 8px;
}
.banner-caption .btn {
	border: medium none;
	color: #4a4f4f;
	font-size: 20px;
	font-weight: 700;
	padding: 11px 30px;
}
.btn-find-job {
	background-color: #fffd2c;
}
.banner-right {
	padding: 30px 25px;
	text-align: left;
	position:relative;
}
.post-job {
    position: absolute;
    right: 7px;
    top: -15px;
}
.banner-right p {
	padding:0 140px 0 0;
}
/*.advanced-search{

	width:100%;

	padding:75px 0 0 0;

	background:url(../img/advance-search.png) repeat-x center top;

	height:499px;

}*/

#homepage-banner {
	position: relative;
	margin-top:78px;
	height:417px;
	background:url(../img/advance-search.png) repeat-x center top;
}
#slider-wrapper .owl-item {
	min-height: 550px;
}
.feature {
	width:100%;
	background:#f9f9f9;
}
.feature h2 {
	background:#fff;
	line-height:72px;
	text-align:center;
	margin:0px;
}
ul.feature-list {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}
ul.feature-list li {
	float:left;
	padding:40px 19px;
	list-style:none;
}
.clients {
	width:100%;
	padding-bottom:30px;
}
.clients h2 {
	background:#fff;
	line-height:72px;
	text-align:center;
	margin:0px;
}
 .testimonial-box::before {
 border-color: #dbe2e9 rgba(219, 226, 233, 0) rgba(219, 226, 233, 0);
 border-width: 10px;
 margin-left: -10px;
}
 .testimonial-box::after, .testimonial-box::before {
 border: medium solid transparent;
 content: " ";
 height: 0;
 left: 50%;
 pointer-events: none;
 position: absolute;
 top: 100%;
 width: 0;
}
.testimonial-box {
	background: #eeeeee none repeat scroll 0 0;
	border: 2px solid #dbe2e9;
	border-radius: 5px;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	text-align: center;
	width: 80%;
}
img.testimonial-client {
	border: 2px solid #8997a7;
	margin: 25px 0;
	width: 80px;
}
.footer-top {
	background:#373e46;
	padding:20px 0 20px 0;
}
.footer-top h3 {
	font-size:20px;
	color:#33c6f4;
	padding:0 0 20px 0;
}
ul.footer-list {
	float:left;
	padding:0px !important;
	margin:0px !important;
}
ul.footer-list li {
	float:left;
	list-style:none;
	width:100%;
}
ul.footer-list li a {
	color:#fff;
	line-height:24px;
	font-size:12px;
}
.footer-bottom {
	background:#575f6a;
	padding:10px 0;
	color:#fff;
}
.form-group {
	float: left;
	padding: 0 0 10px 0;
	width: 100%;
}
.form-group label {
	line-height:35px;
	margin:0px;
	font-weight:normal;
}
.advance-search {
	position:absolute;
	padding:22px 0;
	background:#ccc;
	width:100%;
}
.carousel-indicators {
    bottom:47px !important;
}
.advance-text {
	color:#ed280b;
	font-size:22px;
	margin:0px;
}
 @media (min-width: 768px) {
 .omb_row-sm-offset-3 div:first-child[class*="col-"] {
 margin-left: 25%;
}
}
.omb_login .omb_authTitle {
	text-align: center;
	line-height: 300%;
}
.omb_login .omb_socialButtons a {
	color: white;
// In yourUse @body-bg  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
	color: white;
	opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {
	background: #3b5998;
}
.omb_login .omb_socialButtons .omb_btn-twitter {
	background: #00aced;
}
.omb_login .omb_socialButtons .omb_btn-google {
	background: #c32f10;
}
.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}
.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm .help-block {
	color: red;
}
 @media (min-width: 768px) {
 .omb_login .omb_forgotPwd {
 text-align: right;
 margin-top:10px;
}
}
